.search-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid transparent;
}

.search-dark:focus,
.search-dark:active {
  border: 1px solid rgba(255, 255, 255, 0.15);
  outline: none;
  box-shadow: none;
}

.search-dark::placeholder {
  color: #fff;
}

@media (max-width: 625px) {
  .search-form {
    display: none !important;
  }
}
